#wrapper {
  position: relative;
  border: 1px solid #9c9898;
  width: 400px;
  height: 400px;
}

#buttonWrapper {
  position: absolute;
  width: 30px;
  top: 2px;
  right: 2px;
}

input[type="button"] {
  padding: 5px;
  width: 30px;
  margin: 0px 0px 2px 0px;
}

div.stage {
  position: relative;
  margin: 0px auto;
  border: 1px solid #000;
}
canvas {
  position: absolute;
}
